body {
  margin: 0;
}

.application {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.app-bar-container {
  position: relative;
}

.app-body-container {
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.status-bar-container {
  position: relative;
}