/////////////
// Layouts //
/////////////


.vertical-layout__row {
  margin-bottom: 16px;
}


////////////
// Fields //
////////////

.field-label {
  padding: 4px 8px !important;
  white-space: normal !important;
}

.field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.field-row--active {
  background: #1976d21c;
}

.field-row--verified {
  background: #2e7d321c;
}

.field-flag-button {
  opacity: 0;

  .field-row:hover & {
    opacity: 1;
  }

  .field-row--active & {
    opacity: 1;
  }
}

.field-error-message {
  margin: 0 !important;
  padding: 4px 8px !important;
  background: #f5e7e7;
}

:global(.MuiToggleButton-root).field-unknown-button {
  border: 0;
}

.field-select-container {
  width: 50px; // needed so that overflow works, flex 1 will stretch this out
  flex: 1;

  :global(.MuiInput-root):before {
    display: none;
  }

  :global(.MuiSelect-icon) {
    opacity: 0;

    .field-row:hover & {
      opacity: 1;
    }
  }
}

.field-datetime-container {
  display: flex;
  flex: 1;

  :global(.MuiTextField-root) {
    flex: 1;

    input {
      padding: 4px 0 5px;
    }
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border: none;
  }

  :global(.MuiInputAdornment-root) {
    opacity: 0;

    .field-row:hover & {
      opacity: 1;
    }
  }
}
