.debug-container {
  width: 700px;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid black;
}

.highlight {
  background-color: rgba(green, 10%);
  padding: 0.1em 0;
}

.active {
  --x-info: "Not used, just generates the needed styles object entry.";
}

@for $i from 0 to 10 {
  .active-#{$i} .highlight-#{$i} {
    border-bottom: 2px solid #37a537;
  }
}
