.debug-container {
  width: 700px;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid black;
}

@for $i from 0 to 10 {
  .highlight-#{$i}-yes {
    background-color: rgba(green, 10%);
    padding: 0.1em 0;
  }
  
  .active-#{$i} .highlight-#{$i}-yes {
    border-bottom: 2px solid #37a537;
  }
}
