///////////////////
// Anonymization //
///////////////////

.anonymization-mode :global(.ql-editor) > * {
  cursor: cell;
}

.anonymization--name-person, // name of a person
.anonymization--name-organization, // name of some organization
.anonymization--personalInformation, // birth ID, date of birth
.anonymization--contactInformation, // telephone, email
.anonymization--other
{
  padding: 2px 0;
  background: rgba(black, 0.3);

  .anonymization-mode & {
    cursor: pointer;
  }
}


////////////////
// Highlights //
////////////////

.annotating-mode :global(.ql-editor) > * {
  cursor: cell;
}

@for $i from 0 to 1000 {
  .highlight-#{$i}-yes {
    border-bottom: 2px solid rgba(#2e7d32, 70%);
    padding: 2px 0;
  }
  
  .activate-highlight-#{$i} .highlight-#{$i}-yes {
    background-color: rgba(#1976d2, 20%);
    border-bottom: 2px solid #1976d2;
    
    .annotating-mode & {
      cursor: pointer;
    }
  }
}
