.paper {
  width: 400px;
}

// -------------------------

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 20px;
}

.checkbox-row__whitespace {
  flex: 1;
}

.checkbox-row__flag-button {
  opacity: 0;

  .checkbox-row:hover & {
    opacity: 1;
  }

  .checkbox-row--active & {
    opacity: 1;
  }
}

.checkbox-row--active {
  background: #1976d21c;
}

.checkbox-row--verified {
  background: #2e7d321c;
}

// ---------------------------

.field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.field-row--active {
  background: #1976d21c;
}

.field-row--verified {
  background: #2e7d321c;
}
